.App {
    /* border: 1px solid red; */
    width: 70%;
    margin: 10rem auto;
    box-sizing: border-box;
    font-family: "Futura";

}

.score-container {
    text-align: center;
    margin-top: 5rem;
}

.btn-container {
    text-align: center;
}

/* #user-component {
    border: 1px solid blue;
} */